{% extends 'users/base.html' %}

{% block content %}

        <h3>There is nothing to show</h3>



<!--         {% for name, range in main_list %}

             {% for n in name %}
                <p>{{n}}</p>
             {% endfor %}

             <br><h3>Small Breaks are important for productivity</h3><br>

             {% for r in range %}
                <p>{{r}}</p>
             {% endfor %}

             <br><h2>Another Small Break Here</h2><br>

        {% endfor %}
 -->


{% endblock content%}
